<h1>fuel station closest to you...</h1>
<h2>Station ID:<%=@poro.name%></h2>
<h2>Station Address: <%=@poro.address%></h2>
<h2>Station Fuel type:<%=@poro.fuel_type%></h2>
<h2>Station Access Times: <%=@poro.access_times%></h2>
